## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

#**STEP 1: Importing essential libraries and Loading the Dataset**

In this step, import essential libraries


*   numpy and pandas for data analysis
*   seaborn and matplotlib.pyplot for data visualization.

Load the dataset which is in .csv format.

In [ ]:
# Importing essential libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Mounting drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# loading the Play Store Data.csv file 
df = pd.read_csv("/content/drive/MyDrive/Almabetter/Capstone project/1. EDA - Playstore App review analysis/Play Store Data.csv")

# loading the User Reviews.csv file 
user_reviews_df = pd.read_csv("/content/drive/MyDrive/Almabetter/Capstone project/1. EDA - Playstore App review analysis/User Reviews.csv")

In [ ]:
# View the dataframe df
df.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite â€“ FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [ ]:
# View the dataframe user_reviews_df
user_reviews_df.head()

                     App  ... Sentiment_Subjectivity
0  10 Best Foods for You  ...               0.533333
1  10 Best Foods for You  ...               0.288462
2  10 Best Foods for You  ...                    NaN
3  10 Best Foods for You  ...               0.875000
4  10 Best Foods for You  ...               0.300000

[5 rows x 5 columns]

Here marks 'The End' of 'STEP 1'.

Moving forward to clean the data.

# **STEP 2: Data Cleaning**

This step is also known as Pre-processing.

In this step, clean the data. 

Looking for and handling
*   NAN/Null/ Missing values
*   Duplicate entries
*   Mismatched entries

Also attaining,
*   Standardized Columns
*   Transformed Columns (Original: Object data type column to Transformed column: Numeric data type)

## **1) Handling Null values from user_reviews_df DataFrame**

In [ ]:
# Cleaning the data from user_reviews_df, since it has NAN values.
user_reviews_df = user_reviews_df[~user_reviews_df['Sentiment_Subjectivity'].isna()]

Adding a 'Sentiment_marks' column to user_reviews_df dataframe, which will be used later on.

In [ ]:
# Create a function which will convert the sentiment to number
def change_to_numbers(value):
  if value == 'Positive':
    return 1
  elif value=='Neutral':
    return 0
  elif value == 'Negative':
    return -1
  else:
    return value

In [ ]:
# Apply the function to column
user_reviews_df['Sentiment_marks'] = user_reviews_df['Sentiment'].apply(change_to_numbers)

In [ ]:
# View the unique values from 'Sentiment_marks' column
user_reviews_df['Sentiment_marks'].unique()

array([ 1,  0, -1])

In [ ]:
# Adding Sentiment_Score column which is the product of Sentiment_Polarity and Sentiment_Subjectivity
user_reviews_df['Sentiment_Score'] = user_reviews_df['Sentiment_Polarity'] * user_reviews_df['Sentiment_Subjectivity']

## 2) **Getting rid of Duplicate entries**
Sometiems given Dataset can have Duplicate value.
Duplicate values, if large in number can significantly deviate the results of summarization.
Duplicate values also makes the dataset unnecessarily bulky.

In [ ]:
# Check the data info first
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [ ]:
# Check whether there are duplicate entries in App column
boolean = df['App'].duplicated().any()
boolean

True

In [ ]:
# Check the count of each app, this will clearly indicate the presence of duplicates of each app quantitatively.
df['App'].value_counts()

ROBLOX                                                9
CBS Sports App - Scores, News, Stats & Watch Live     8
ESPN                                                  7
Duolingo: Learn Languages Free                        7
Candy Crush Saga                                      7
                                                     ..
Meet U - Get Friends for Snapchat, Kik & Instagram    1
U-Report                                              1
U of I Community Credit Union                         1
Waiting For U Launcher Theme                          1
iHoroscope - 2018 Daily Horoscope & Astrology         1
Name: App, Length: 9660, dtype: int64

In [ ]:
# Check for top entry if the data contain of this duplicate across all features is same or not.
df[df['App']=='ROBLOX']

         App Category  Rating  ...   Last Updated   Current Ver Android Ver
1653  ROBLOX     GAME     4.5  ...  July 31, 2018  2.347.225742  4.1 and up
1701  ROBLOX     GAME     4.5  ...  July 31, 2018  2.347.225742  4.1 and up
1748  ROBLOX     GAME     4.5  ...  July 31, 2018  2.347.225742  4.1 and up
1841  ROBLOX     GAME     4.5  ...  July 31, 2018  2.347.225742  4.1 and up
1870  ROBLOX     GAME     4.5  ...  July 31, 2018  2.347.225742  4.1 and up
2016  ROBLOX   FAMILY     4.5  ...  July 31, 2018  2.347.225742  4.1 and up
2088  ROBLOX   FAMILY     4.5  ...  July 31, 2018  2.347.225742  4.1 and up
2206  ROBLOX   FAMILY     4.5  ...  July 31, 2018  2.347.225742  4.1 and up
4527  ROBLOX   FAMILY     4.5  ...  July 31, 2018  2.347.225742  4.1 and up

[9 rows x 13 columns]

In [ ]:
# We can't go through each row of data to search for duplicate, 
# however using following code, if there are any duplicates present in the data they will be deleted
# sorting by such that highest number of reviews will be on top

df.sort_values("Reviews", ascending=False,inplace = True)

# dropping ALL duplicate values from the 'df' using inplace, keeping the ones with first entry only
df.drop_duplicates( subset="App",keep='first',inplace = True)

In [ ]:
# Verify the change
df[df['App']=='ROBLOX']

         App Category  Rating  ...   Last Updated   Current Ver Android Ver
2206  ROBLOX   FAMILY     4.5  ...  July 31, 2018  2.347.225742  4.1 and up

[1 rows x 13 columns]

In [ ]:
# Verify the change
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9660 entries, 2989 to 4177
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9660 non-null   object
 1   Category        9660 non-null   object
 2   Rating          8197 non-null   float64
 3   Reviews         9660 non-null   object
 4   Size            9660 non-null   object
 5   Installs        9660 non-null   object
 6   Type            9659 non-null   object
 7   Price           9660 non-null   object
 8   Content Rating  9659 non-null   object
 9   Genres          9660 non-null   object
 10  Last Updated    9660 non-null   object
 11  Current Ver     9652 non-null   object
 12  Android Ver     9657 non-null   object
dtypes: float64(1), object(12)
memory usage: 1.0+ MB

So we have successfully removed the duplicate entries. The same can be verified by the difference in the non-null values.

We will take care of NaN/ Null or missing values from df DataFrame in futher sections as we face them.

## **3) Handling Mis-matched data**

In [ ]:
df.reset_index(inplace=True)

In [ ]:
# Easiest way to find the mismatch data for the df DataFrame is running (rating >5) querry on "Rating" column. Since maximum rating is 5.
df[df['Rating']>5]

      index                                      App  ... Current Ver  Android Ver
4484  10472  Life Made WI-Fi Touchscreen Photo Frame  ...  4.0 and up          NaN

[1 rows x 14 columns]

In [ ]:
# Drop the row with the mis-match data using its index
df.drop(df.index[4484],inplace=True)

In [ ]:
# Check for the change
df[df['Rating']>5]

Empty DataFrame
Columns: [index, App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [ ]:
# Run (rating < 0) querry as well
df[df['Rating']< 0]

Empty DataFrame
Columns: [index, App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [ ]:
# View the DataFrame
df.head()

                                 App          Category  ...  Current Ver Android Ver
0             GollerCepte Live Score            SPORTS  ...          6.5  4.1 and up
1       Ad Block REMOVER - NEED ROOT             TOOLS  ...          3.2  2.2 and up
2                SnipSnap Coupon App          SHOPPING  ...          1.4  4.3 and up
3  US Open Tennis Championships 2018            SPORTS  ...          7.1  5.0 and up
4                         DreamTrips  TRAVEL_AND_LOCAL  ...       1.28.1  5.0 and up

[5 rows x 13 columns]

In [ ]:
# Drop the unnecessary index column
df.drop(columns=['index'],inplace=True)

In [ ]:
# View the DataFrame
df.head()

                                 App          Category  ...  Current Ver Android Ver
0             GollerCepte Live Score            SPORTS  ...          6.5  4.1 and up
1       Ad Block REMOVER - NEED ROOT             TOOLS  ...          3.2  2.2 and up
2                SnipSnap Coupon App          SHOPPING  ...          1.4  4.3 and up
3  US Open Tennis Championships 2018            SPORTS  ...          7.1  5.0 and up
4                         DreamTrips  TRAVEL_AND_LOCAL  ...       1.28.1  5.0 and up

[5 rows x 13 columns]

The mis-matched data got removed